.about-us-title {
    color: #E74C3C;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bolder !important;
    text-align: center !important;
    margin: 20px 0 !important;
}

.about-us-description {
    display: flex;
    justify-content: space-around !important; 
    margin: 0 5vw !important;
    width: auto !important;
}

.about-us-description .image {
    width: 110% !important;
    height: auto !important;
    border-radius: 7%;
    margin-left: 10px !important;
}

.about-us-steps {
    margin: auto;
    max-width: 350px !important;
}

.custom-step-icon {
    color: #FFA600 !important;
}

.about-us-button {
    background-color: #E74C3C !important;
    text-transform: none !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 70px;
    color: black !important;
}

.about-us-continue-button:hover {
    transform: scale(1.01);
}

.about-us-member {
    height: 100% !important;
    margin: -100px auto 50px !important;
}

.about-us-member .link {
    display: block;
    margin-top: -25%;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.about-us-member .link:hover {
    color: #FFA600 !important;
    text-decoration: none !important; 
}

.about-us-member img {
    width: 100%;
    height: 40%;
    clip-path: ellipse(30% 30%);
}

.niyayesh {
    clip-path: ellipse(30% 29%) !important;
}