@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.filter-hompage-customer {
    width: auto;
    margin: auto;
    padding: 10px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: left; */
    border-radius: 10px;
    border: 1px solid rgb(202, 196, 195);
    flex-direction: column;
    background-color: rgba(117, 115, 111, 0.05);
}
.hr-tag {
    width: 90%;
    margin: 0 !important;
}
.grid-homepage-customer {
    width: 100% !important;
    margin-top: 2% !important;
    padding-left: 5%;
    padding-right: 5%;
}

.filters-title{
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
}
.filter-type {
    width: 110px;
    margin-top: 15px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 90% !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
}

.range-homepage-customer {
    margin-right: 10px;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    color: #dd9d46 !important;
    /* font-size: 1px !important; */
}

.MuiSlider-thumb {
    width: 12px !important;
    height: 12px !important;
}
.grid {
    justify-content: space-between;
    width: 90% !important;
    padding: 7% 0% 7% 0%;
    display: flex;
    align-items: center;
    /* margin: 2% auto 2% auto !important; */
}

#grid-margin{
    margin-top: -20px !important;
    margin-bottom: -10px;
}

#details {
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: -10px !important;
    /* margin-left: -10px !important; */
    margin-bottom: -25px !important;
    /* margin-right: 20px !important; */
    padding: 0 !important;
}
.grid-details {
    justify-content: space-between !important;
    width: 100% !important;
    margin-top: -30px !important;
    display: flex;
    align-items: center;
}
.css-1tfve6q-MuiSlider-mark {
    width: 0 !important;
    height: 0 !important;
}
.submit {
    margin: 20px !important;
    background-color: #FFA600 !important;
    border-radius: 70px !important;
    width: 80% !important;
    /* text-transform: none !important; */
    font-size: 13px !important;
}

.submit:hover{
    background-color: #ffa600d7 !important;
}
.search-homepage-customer {
    border-radius: 4px;
    width: 80%;
    margin-left: 5%;
    height: 85%;
    align-items: center;
    display: flex;
    background-color: rgba(117, 115, 111, 0.05) !important;
}

.homepage-customer-to{
    margin-right: -13% !important;
}

.homepage-customer-marker{
    left: 0% !important;
}