@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.spinner-container {
    position: relative;
    height: 100vh;
  }
  .spinner
  {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
  }
.back{
  height: 100vh;
  /* display: flex; */
  background : #f2e6e6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
.MuiAppBar-root.header {
    background-color: #911436;
}  
.header {
    /* padding: 1% 0; */
    /* text-align: center; */
    /* background-color: #cf7878; */
    box-sizing: border-box;
}
.header img {
    width: 4%;
    height: 10%;
}

.container {
    position: relative;
}
.logo {
  margin-left: 0;
  width: 10% !important;
  height: auto;
}
/* .icon {
    float: right;
  color: white;
  margin-left: 95%;
  margin-top: 0%;
} */
.search {
  margin-left: 35%;
  margin-right: 30%;
  background-color: #ffffff;
  width: 30%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.MuiBottomNavigation-root.footer {
    background-color: #000000;
}
.homepage-text {
    color: #ffffff;
    /* font-family: 'Staatliches', cursive !important; */
}
.toolbar {
    display: flex;
    justify-content: space-between;
}
.toolbar .icon {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}
.toolbar .icon .last-icon {
    margin-left: auto;
}