.restaurant-chat-root {
    background-image: url(/public/Chat-background.png);
}
.restaurant-chat-box{
    height:90%;
    margin-left: -1.3% !important;
    box-sizing: border-box;  
    background-image: url(/public/Chat-background.png);
    background-size: contain;
    background-color: rgb(239, 235, 229);
}
.chats-title {
    background: linear-gradient(to right, #FFA600, #E74C3C);
}
.chat-send-icon{
    margin-left: -20px !important;
}
.chat-send-icon:hover{
    transform: scale(1.1);
}
.chat-detail{
    width: 101.3% !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 1%;
    margin-bottom: -1%;
    margin-left: -1.4% !important;
    background-color: rgba(166, 164, 160 ,1);
    /* padding-top: 10px !important;
    margin-bottom: -10px !important; */
}
.users-avatar{
    font-size: 40px;
    width: 50px !important;
    height: 50px !important;
}
.current-chat-avatar {
    width: 50px !important;
    height: 50px !important;
}
#no-current-chat{
    height: 100% !important;
}

.restaurant-chats-chats{
    /* margin-left: -29% !important; */
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
}