@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.spinner-restaurant-view{
    color: black !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    margin-top: 20% !important;
}

.restaurant-view-back {
    background-color: #ffffff;
}

.restaurant-view {
    margin-top: 2% !important;
    width: 100% !important;
}

.logo {
    margin-left: 0;
    width: 7% !important;
    height: auto;
}

.css-8u9tfx-MuiButtonBase-root-MuiBottomNavigationAction-root{
    padding: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
}

.toolbar-restaurant-view {
    display: flex !important;
    justify-content: space-between !important;
}

.toolbar-restaurant-view .icon-restaurant-view {
    display: flex !important;
    align-items: center !important;
}

@keyframes wiggle {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.05);
        opacity: 1;
    }
}

.my-masonry-grid {
    display: flex;
    padding-left: 5%;
    width: auto;
}

.my-masonry-grid_column {
    background-clip: padding-box;
}

.no-menu-message-container {
    margin-top: 12%;
    margin-bottom: 15%;
    height: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-menu-message {
    color: #6d6c6c;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    margin-top: 0.3px;
}

.food-image-restaurant-view {
    width: 250px; 
    border-radius: 4px;
    margin-bottom: 10px; 
    height: auto;
    object-fit: contain;
}

.payment {
    width: 120% !important;
    display: flex;
    justify-content: center;
}

@media(max-width: 360px) {
    .css-1y40yz5-MuiGrid-root {
        margin-left: -7% !important;
    }
}  

@media(min-width: 360px) and (max-width: 420px) {
    .css-1y40yz5-MuiGrid-root {
        margin-left: 6% !important;
    }
}

@media(min-width: 420px) and (max-width: 500px) {
    .css-1y40yz5-MuiGrid-root {
        margin-left: 18% !important;
    }
}    

@media(min-width: 500px) and (max-width: 628px) {
    .css-1y40yz5-MuiGrid-root {
        margin-left: 32% !important;
    }
}

@media(min-width: 628px) and (max-width: 710px) {
    .css-1y40yz5-MuiGrid-root  {
        margin-left: 40% !important;
    }
}  

@media(min-width: 710px) and (max-width: 775px) {
    .css-1y40yz5-MuiGrid-root {
        margin-left: 45% !important;
    }
}

@media(min-width: 775px) and (max-width: 890px) {
    .css-1y40yz5-MuiGrid-root {
        margin-left: 51% !important;
    }
}

@media(min-width: 890px) and (max-width: 899px){
    .css-1y40yz5-MuiGrid-root {
        margin-left: 9% !important;
    }
}

@media(min-width: 899px) and (max-width: 1200px) {
    .card-restaurant-view {
        margin-top: 2% !important;
        margin-left: 12% !important;
        width: 143% !important;
    }

    .css-1y40yz5-MuiGrid-root {
        margin-left: 30% !important;
    }
}