/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
.chat-poper
{
    z-index: 2;
}

.chatPage{
    width: 25vw;
    height: 60vh;
    display: flex;
    /* border-radius: 5% !important; */
    background-color: rgb(239, 235, 229) !important;
    background-image: url(/public/Chat-background.png);
    background-size: contain;
    margin-bottom: 2%;
    margin-left: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
}

.chatContainer{
    height: 100%;
    width: 100%;
    /* border-radius: 5% !important; */
}

.chat-header{
    background-color:#e74c3c;
    /* height: 15%; */
    display: flex;
    align-items: center;
    justify-content: center; 
    /* border-radius:10% 4% 0 0; */
    /* margin: 5% !important; */
    /* border-radius: 10% !important; */
    /* border-top-left-radius: 5% !important;
    border-top-right-radius: 5% !important; */
    /* box-sizing: border-box; */
    /* margin-top: 5%; */
}
.chat-title{
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 4% !important;
}

.inputBox{
    margin-top: 8%;
    padding-bottom: -5% !important;
    box-sizing: border-box;
    display: flex;
    border-radius:4% 0 4% 0;
    background-color: white;
}

#chatInput{
    font-size: 114.5%;
    border-radius: 0 0 0 6%;
    width: 100%;
    border: none;
    /* padding: 1.5%; */
    box-sizing: border-box;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    resize: none;
    outline: none;
    /* font-family: 'Roboto', sans-serif !important; */
    font-weight: 600;
    /* margin-top: 40px !important; */
}

.chat-send{
    color: #ffa600; 
}

/* .chat-button{
    color: rgba(255,255,255,0) !important;
}
.chat-button:hover{
    color: rgba(255,255,255,0) !important;
} */

.chat-listitem-right{
    text-align: left !important;
    margin-top: 5%;
    border-radius: 0.25rem;
    display: flex;
    padding: 0.75rem;
    position: relative;
    background-color: #c5f7d6; 
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    z-index: 2;
    max-width: 50%;
    float: right;
    margin-right: 2%;  
}

.chat-listitem-left{
    text-align: left !important;
    margin-top: 5%;
    border-radius: 0.25rem;
    display: flex;
    padding: 0.75rem;
    position: relative;
    background-color: #e7f1fc; 
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    z-index: 2;
    max-width: 50%;
    float: left;
    margin-left: 2%;  
}

.chatBox{
    height:70%;
    box-sizing: border-box;  
}

.chat-time {
    font-size: 68%;
    position: absolute;
    bottom: -4%;
    right: 3%;
}