.homepage-restaurant-card-restaurant {
    width: 85% !important;
    margin-bottom: 8% !important;
    margin-left: 5px !important;
    border-radius: 10px !important;
    height: 230px !important;
    padding: 0;
    position: relative !important;
    overflow: hidden;
    font-size: x-large !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
}
.homepage-restaurant-card-restaurant:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(187, 32, 32, 0.585) 0px 8px 16px -8px !
}  

.restaurant-name-hemepage-restaurant {
    font-size: 20px !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-left: 5px !important;
    font-weight: bold !important;
}

.two-icons-homepage {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}


.delete-icons-card-restaurant-homepage {
    color: red !important;
    margin-left: -20px !important;
    display: flex !important;
}
/* .delete-icons-card-restaurant-homepage:hover {
    color: black !important;
} */

.edit-icons-card-restaurant-homepage {
    margin-left: 11px !important;
    margin-bottom: -15px !important;
    display: flex !important;
    color: green !important;
}
/* .edit-icons-card-restaurant-homepage:hover {
    color: black !important;
} */

@keyframes pulse {
    0%, 100% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.2);
    }
}


