.shopping-card-restaurant-box {
    margin: 7px auto!important; 
    margin-left: 10px !important;
    margin-bottom: 7px auto !important;
    background-color: rgba(184, 181, 181, 0.502);
    height: 30% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: black;
    width: 97% !important;
  }
  .shopping-card-restaurant-box {
    transform: none;
}
  
  .shopping-card-image {
    max-width: 100%;
    height: auto;
  }
  
  .shopping-card-name {
    display: flex;
    text-align: center !important;
    align-content: center !important;
  }
  
  .shopping-card-order-list {
    /* font-size: 16px;
    margin-bottom: 8px; */
  }
  