@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.leaflet-container {
    width: 35vw;
    height: 70vh;
    margin-top: 6%;
    margin-left: 32.5%;
    border-radius: 20px;
}

.edit-location-button {
    position: absolute;
    bottom: 20px;
    left: 32rem;
    z-index: 10000;
}

.edit-location-button button {
    padding: 8px 16px;
    font-weight: bold;
    background-color: #fbae1f;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.edit-location-button button:hover {
background-color: beige;
}


.map-container {
    position: relative;
}

.leaflet-bar {
    border: 0px !important;
}
.leaflet-control-zoom-in
{
    background-color: #ffa600 !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom: 1px solid #26262691 !important;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px !important;
    transition: background-color 0.3s ease-in-out;
    padding: 3px;
}
.leaflet-control-zoom-out {
    background-color: #ffa600 !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px !important;
    transition: background-color 0.3s ease-in-out;
    padding: 3px;
}

/* Hover effect */
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  background-color: #fbae1fcf !important;
}

/* Active effect */
.leaflet-control-zoom-in:active,
.leaflet-control-zoom-out:active {
  background-color: #e74c3c !important;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #949494 !important;
    color: rgb(255, 255, 255) !important;
}

.confirm-btn{
    text-transform: none !important;
    font-size: 70% !important;
    font-weight: bolder !important;
    font-family: 'Montserrat', sans-serif !important;
    /* background-color: #90be6d !important; */
    background-color: #4daa25 !important;
}

.confirm-btn {
    border-radius: 70px !important;
    background-color: #4daa25 !important;
    border: none;
    color: #fff !important;
    text-align: center;
    text-transform: none !important;
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 16px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 36px !important;
    margin-left: 410% !important;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.confirm-btn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.confirm-btn:after {
    content: '✓';
    position: absolute;
    opacity: 0;  
    top: 8.5px;
    right: -18px;
    transition: 0.5s;
}

.confirm-btn:hover{
    background-color: #62be11 !important;
    padding-right: 10px;
    padding-left:1px;
}

.confirm-btn:hover:after {
    opacity: 1;
    right: 10px;
}