.admin-container {
    width: 100% !important;
    height: auto !important;
}

.adimin-title {
    width: 100% !important;
    margin: 3vw auto;
    font-weight: bold !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
}

.divider {
    height: 100% !important;
    margin: auto !important;
}

.manager-details, .request-details {
    width: 85% !important;
    height: auto !important;
    display: flex;
    justify-content: center;
    margin: 2% auto !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px, rgba(0, 0, 0, 0.05) 0px -5px 10px, rgba(0, 0, 0, 0.01) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 0px 0px
}

.manager-details .avatar {
    width: 5vw !important;
    height: 5vw !important;
    margin: 10% auto !important;
}

.manager-details{
    margin: 2% auto !important;
    font-size: larger !important;
}

.manager-details .restaurants {
    text-align: left !important;
    color: #797979;
}

.admin-box{
    max-height: 87vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px, rgba(0, 0, 0, 0.05) 0px -5px 10px, rgba(0, 0, 0, 0.01) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 0px 0px
}

.admin-main-box{
    margin: 2% !important;
    position: relative;
}

.admin-info .restaurant-image {
    width: 8vw !important;
    height: 6vw !important;
}

.admin-info-avatar{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.admin-info .restaurant-box {
    width: 28vw !important;
    height: auto;
    padding: 10px !important;
    margin: 3% auto !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px, rgba(0, 0, 0, 0.05) 0px 5px 10px, rgba(0, 0, 0, 0.01) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 0px 0px;
}

.loading {
    display: flex !important;
    justify-content: center ;
    align-items: center ;
    margin: auto !important;
}

.requests {
    padding: 5% !important;
}

.request-button {
    justify-content: space-between;
    width: 100% !important;
    text-transform: none !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 70px !important;
    text-align: center;
}

.request-button.accept{
    background-color: #2ea81b !important;
}

.request-button.reject {
    background-color: #E74C3C !important;
}

.info-label{
    font-weight: bold !important;
}

.info-text{
    font-weight: 100 !important;
}

.admin-logout{
    background-color: #e68371 !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

@media (max-width: 599px){
    .admin-img {
        display: none !important;
    }   
}