@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Playball&display=swap');

.grid-homepage-restaurant {
    margin-top: 2% !important;
    padding-right: -10% !important;
    margin-left: 30px !important;
    margin-right: -200px !important;
    overflow-x: hidden;
}

.home-res-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    text-shadow: 2px 10px 10px #1f1f1f;
}

.delete-restaurant-button {
    background-color: #E74C3C !important;
    display: flex !important;
    width: 80% !important;
    margin-bottom: 15%;
    margin: auto !important;
    text-transform: none;
    font-size: 12px !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 70px !important;
}

.delete-restaurant-button:hover {
    transform: scale(1.01);
}

.no-menu-message-container {
    margin-top: 10%;
    margin-bottom: 15%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-menu-message {
    color: #6d6c6c;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    margin-top: 0.3px;
}

.add_res_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto !important ;
    background-color: #f8f8f8;
    border-radius: 5%;
    box-shadow: 24;
    padding: 2%;
}

.add-title {
    padding: 3%;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 22px !important;
    font-weight: bolder !important;
    margin-top: -4%;
}

.phone-input {
    color: #E74C3C !important;
    width: 100%;
}

.add-restaurant-button {
    text-transform: none;
    font-size: 14px;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 70px !important;
}

.add-restaurant-button#cancel {
    background-color: #E74C3C !important;
}

.add-restaurant-button#add {
    background-color: #FFA600 !important;
}

.add-button:hover {
    transform: scale(1.01);
}

.new-restaurant-button-grid {
    justify-content: space-between;
    margin-top: 3% !important;
}

.add-restaurant {
    background-color: #FFA600 !important;
    position: fixed !important;
    right: 20px !important;
    bottom: 20px !important;
}

.add-restaurant-field {
    width: 100% !important;
    margin-top: 10px !important;
}

.home-restaurant-animation {
    animation: fade-in 1s ease-in-out !important;
}

.homepage-restaurant-card {
    height: 200px !important;
    width: 200px !important;
    margin: 7% !important;
    border-radius: 5px !important;
}

.homepage-restaurant-card-restaurant .restaurant-phone, .homepage-restaurant-card-restaurant .restaurant-address {
    margin-bottom: 2px !important;
    align-items: center !important;
}

.homepage-restaurant-pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin-bottom: 2% !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}